//remove white space at top and bottom when scrolling
html {
    overflow: hidden;
    height: 100%;
}
//page scss
.flowWrapper {
    margin-left: 5rem;
    height: 100vh;
}
.sideBarContainer {
    top: 0;
    left: 0;
    width: 5rem;
    height: 100%;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    //border-style: solid;
}
.share {
    position: fixed;
    right: 5rem;
    top: 5rem;
    z-index: 10;
}
.pageContainer {
    height: 100vh;
    width: 100vw;
    display: inline-block;
    background: linear-gradient(
        to right,
        #74ebd5,
        #acb6e5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pageDetailContainer {
    width: 650px;
    top: calc(50% - 250px);
    left: calc(50% - 310px - 5rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.space {
    display: inline-block;
    width: 5rem;
}
